@font-face {
  font-family: "AvenirRegular";
  font-style: normal;
  src: url(../public/fonts/Avenir-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "AvenirBlack";
  font-style: normal;
  src: url(../public/fonts/Avenir-Black.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "AvenirBook";
  font-style: normal;
  src: url(../public/fonts/Avenir-Book.ttf) format("truetype");
  font-display: swap;
}
