@font-face {
  font-family: "consola";
  font-style: normal;
  src: url(../public/fonts/consola.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "consolab";
  font-style: normal;
  src: url(../public/fonts/consolab.ttf) format("truetype");
  font-display: swap;
}

